/* Estilo para la sección de productos */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilo para los productos */
.producto {
    width: 48%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.producto h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.producto p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.producto button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.producto button:hover {
    background-color: #45a049;
}

/* Estilo para el carrito */
.carrito {
    width: 48%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.carrito table {
    width: 100%;
    border-collapse: collapse;
}

.carrito table th, .carrito table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.carrito table th {
    background-color: #f4f4f4;
}

.carrito button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carrito button:hover {
    background-color: #0b7dda;
}
